In [4]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('babynames.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1228030 entries, 696635 to 1924664
Data columns (total 5 columns):
year    1228030 non-null int64
sex     1228030 non-null object
name    1228030 non-null object
n       1228030 non-null int64
prop    1228030 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 56.2+ MB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924665 entries, 0 to 1924664
Data columns (total 5 columns):
year    int64
sex     object
name    object
n       int64
prop    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 73.4+ MB

In [19]:
df.groupby('year').count()

        sex   name      n   prop
year
1880   2000   2000   2000   2000
1881   1935   1935   1935   1935
1882   2127   2127   2127   2127
1883   2084   2084   2084   2084
1884   2297   2297   2297   2297
1885   2294   2294   2294   2294
1886   2392   2392   2392   2392
1887   2373   2373   2373   2373
1888   2651   2651   2651   2651
1889   2590   2590   2590   2590
1890   2695   2695   2695   2695
1891   2660   2660   2660   2660
1892   2921   2921   2921   2921
1893   2831   2831   2831   2831
1894   2941   2941   2941   2941
1895   3049   3049   3049   3049
1896   3091   3091   3091   3091
1897   3028   3028   3028   3028
1898   3264   3264   3264   3264
1899   3042   3042   3042   3042
1900   3730   3730   3730   3730
1901   3153   3153   3153   3153
1902   3362   3362   3362   3362
1903   3389   3389   3389   3389
1904   3560   3560   3560   3560
1905   3655   3655   3655   3655
1906   3633   3633   3633   3633
1907   3948   3948   3948   3948
1908   4018   4018   4018   4018
1909   4227   4227   4227   4227
...     ...    ...    ...    ...
1988  22364  22364  22364  22364
1989  23773  23773  23773  23773
1990  24719  24719  24719  24719
1991  25105  25105  25105  25105
1992  25427  25427  25427  25427
1993  25966  25966  25966  25966
1994  25995  25995  25995  25995
1995  26080  26080  26080  26080
1996  26423  26423  26423  26423
1997  26971  26971  26971  26971
1998  27899  27899  27899  27899
1999  28550  28550  28550  28550
2000  29769  29769  29769  29769
2001  30269  30269  30269  30269
2002  30563  30563  30563  30563
2003  31183  31183  31183  31183
2004  32046  32046  32046  32046
2005  32546  32546  32546  32546
2006  34082  34082  34082  34082
2007  34950  34950  34950  34950
2008  35070  35070  35070  35070
2009  34702  34702  34702  34702
2010  34067  34067  34067  34067
2011  33903  33903  33903  33903
2012  33732  33732  33732  33732
2013  33269  33269  33269  33269
2014  33228  33228  33228  33228
2015  33098  33098  33098  33098
2016  32979  32979  32979  32979
2017  32469  32469  32469  32469

[138 rows x 4 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924665 entries, 0 to 1924664
Data columns (total 5 columns):
year    int64
sex     object
name    object
n       int64
prop    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 73.4+ MB

In [17]:
2019-50

1969